body {
	
	background-color: rgb(44, 44, 44);
	font-family: 'Montserrat', sans-serif;
}

#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }


  @media (max-width: 565px) {
    #background-video { display: none; }
    body {
      background: url("images/poster.png") ;
      background-size:contain;
	  background-attachment: fixed;
    }
} 

a {
	text-decoration: none;
}

p, a{
	font-size: 20px;
	letter-spacing: 1.5px;
}

/* @media(min-width:767px){
	.container-xl{
		max-width:100%;
	}
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
}

#logo{
	width:80px;
	border-radius: 100px;
	transition: transform 800ms ease-in-out;
	
}

@media(min-width:1200px){
	#logo:hover{
		transform: rotate(200deg);
	}
}



@media(max-width:565px){
	#logo{
		width: 60px;
	}
}



@media (min-width: 1200px) {
	#hero,
	#portfolio {
		border-right: 1px solid white;
		border-left: 1px solid white;
	}
}

/*----NAVIGATION----*/

.navbar {
	border-bottom: 1px solid yellow;
	letter-spacing: 2px;
}

.nav-link {
	border-bottom: 1px solid RGBA(0, 0, 0, 0);
	transition: all 500ms ease;
	border-radius: 13px;
}

.nav-link:hover {
	border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
	.nav-link {
		
		min-width: 70px;
		max-width: 150px;
		padding-left: 10px;
		border-radius: 0;
	}
}

@media (min-width: 768px) {
	.nav-item-2 {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}
}

/*----HERO-----*/

#hero {
	margin-top: 20px;
	padding-bottom: 30px;
}

#hero .welcome {
	margin-bottom: 60px;
}

#hero .text {
	letter-spacing: 1px;
	font-size: 2.5rem;
	transition: transform 500ms ease;
	font-weight: 600;
}

#hero .hero-name h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

#hero .portrait {
	border-radius: 40px;
	box-shadow: 0 0 13px rgb(0, 0, 0);
}

@media (min-width: 576px) {
	#hero .text {
		font-size: 4rem;
	}
}

@media (min-width: 767px) {
	#hero .text {
		border-right: 1px solid yellow;
	}
}

@media (max-width: 767px) {
	#hero .text {
		position: absolute;
		top: 30px;
		right: 30px;
		border-left: 1px solid yellow;
		border-bottom: 1px solid yellow;
	}
	.hero-name h1 {
		padding: 0 0 10px 20px;
	}
}

@media (min-width: 1000px) {
	#hero .text:hover {
		transform: translateY(-10px);
	}
}

/*-----ABOUT-----*/

@media (min-width: 576px) {
	#about {
		margin-top: 50px;
	}
}

.about-text {
	
	
	box-shadow: 0 0 15px rgb(0, 0, 0);
	color: rgb(102, 102, 102);
	line-height: 2rem;
	border-left: 3px solid yellow;
	border-right: 3px solid yellow;
}

.about-text .about {
	font-size: 35px;
	font-weight: 600;
	color: rgb(90, 90, 90);

}


@media (min-width: 768px) {
	.about-text {
		width: 75%;
	}
}



.about-text span{
	font-size: 24px;
}

/*----PORTFOLIO----*/

#portfolio .site {
	border-radius: 20px;
}
.card-img {
	padding-top: calc(2 / 3 * 100%);
	background-size: cover;
	background-position: center;
	border-radius: 20px;
}

.portfolio-head {
	text-align: center;
}

#portfolio h1 {
	display: inline-block;

}


.card-text {
	color: white;
}
.card-text h3 {
	border-bottom: 1px solid RGBA(0, 0, 0, 0);
	font-size: 1.3rem;
	letter-spacing: 1.5px;
}

.card-text h3:hover {
	display: inline-block;
	border-bottom: 1px solid #fff;
	color: white;
}

.divider {
	background-color: yellow;
	border: none;
}

/*----Contact----*/

#contact {
	text-align: center;
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to right,yellow,rgb(55, 55, 55),  black);
	transition: background-image 2s;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: black;
	-webkit-transition: .1s;
	transition: .1s;
  }
  
  input:checked+.slider {
	background-image: linear-gradient(to left,yellow,rgb(55, 55, 55),  black);
	transition: background-image 2s;
  }

  
  
  input:focus+.slider {
	
	background-color: white;
  }
  
  input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  
  #secondary_content {
	display: none;
	
  }

  #main_content{
	color: white;
  }

  .toggle-title{
	margin: 0 20px;
	
	
  }

  @media(max-width: 565px){
	.toggle-title {
		font-size: 25px;
	}
	
  }


 .exp h2{
	letter-spacing: 3px;
 }

 .exp p{
	letter-spacing: 2px;
 }

 .exp hr{
	color:yellow;
 }


 #btn-back-to-top {
	position: fixed;
	background-color: hsla(5,76%,62%,.8);
	color: #fff;
	bottom: 20px;
	right: 20px;
	animation: fadeIn 2s;
	
	
	display: none;
  }

  .visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
  }

  .hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
  }

  @media(max-width:565px){
	#btn-back-to-top{
		bottom:40px;
		right:40px;
		
	}
  }

  
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

  .lang-icon{
	border-radius: 0px;
	margin:20px;
	
  }

  


